# <font color=blue>AppDev_Summative </font>

### Import neccessary libraries

In [1]:
from sklearn import linear_model
import pandas as pd

### Load data from all data files

In [2]:
dSolar_1 = pd.read_csv('solar_farm.csv')
dSolar_2 = pd.read_csv('solar_generation_data.csv')
dWind_1 = pd.read_csv('wind_farm.csv')
dWind_2 = pd.read_csv('wind_generation_data.csv')

In [3]:
print(dSolar_2.shape, dWind_2.shape)

(365, 8) (366, 3)

In [4]:
dWind_1.head()

   Date Of Month  Capacity Available as %
0              3                       70
1              5                       60
2              7                       50
3              8                       45
4             15                       55

In [5]:
dSolar_1.head()

   Date Of Month  Capacity Available
0              4                   3
1              6                   5
2             19                   2
3             23                  50
4             24                  20

### View first 5 datasets from the Solar dataframes

In [6]:
dSolar_2.head()

,Month,Day,Temp Hi,Temp Low,Solar,Cloud Cover Percentage,Rainfall in mm,Power Generated in MW
0,Jan,1,109°,85°,30.0,9,0.0,9.93
1,Jan,2,106°,71°,30.1,9,0.0,9.97
2,Jan,3,106°,81°,29.5,9,0.0,9.77
3,Jan,4,102°,83°,13.0,4,0.0,4.30
4,Jan,5,105°,80°,30.1,9,0.0,9.97

In [7]:
#remove the degree symbol
dSolar_2['Temp Hi'] = dSolar_2['Temp Hi'].replace('\u00b0','', regex=True)
dSolar_2['Temp Low'] = dSolar_2['Temp Low'].replace('\u00b0','', regex=True)

In [8]:
dSolar_2.head()

,Month,Day,Temp Hi,Temp Low,Solar,Cloud Cover Percentage,Rainfall in mm,Power Generated in MW
0,Jan,1,109,85,30.0,9,0.0,9.93
1,Jan,2,106,71,30.1,9,0.0,9.97
2,Jan,3,106,81,29.5,9,0.0,9.77
3,Jan,4,102,83,13.0,4,0.0,4.30
4,Jan,5,105,80,30.1,9,0.0,9.97

In [9]:
#confirm all column names for solar data
dSolar_2.columns

Index(['Month ', 'Day', 'Temp Hi', 'Temp Low', 'Solar',
       'Cloud Cover Percentage', 'Rainfall in mm', 'Power Generated in MW'],
      dtype='object')

In [10]:
#check column data types
dSolar_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 8 columns):
Month                     365 non-null object
Day                       365 non-null int64
Temp Hi                   365 non-null object
Temp Low                  365 non-null object
Solar                     365 non-null float64
Cloud Cover Percentage    365 non-null int64
Rainfall in mm            312 non-null float64
Power Generated in MW     365 non-null float64
dtypes: float64(3), int64(2), object(3)
memory usage: 22.9+ KB

In [11]:
#change Temp Hi and Temp Low to numeric
cols=[i for i in dSolar_2.columns if i in ['Temp Hi', 'Temp Low']]
for col in cols:
    dSolar_2[col]=pd.to_numeric(dSolar_2[col], errors='coerce')
dSolar_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 8 columns):
Month                     365 non-null object
Day                       365 non-null int64
Temp Hi                   365 non-null int64
Temp Low                  365 non-null int64
Solar                     365 non-null float64
Cloud Cover Percentage    365 non-null int64
Rainfall in mm            312 non-null float64
Power Generated in MW     365 non-null float64
dtypes: float64(3), int64(4), object(1)
memory usage: 22.9+ KB

In [12]:
#check for any missing values
dSolar_2.isnull().sum()

Month                      0
Day                        0
Temp Hi                    0
Temp Low                   0
Solar                      0
Cloud Cover Percentage     0
Rainfall in mm            53
Power Generated in MW      0
dtype: int64

In [13]:
#drop remaining missing values
dSolar_clean = dSolar_2.dropna()
dSolar_clean.isnull().sum()
dSolar_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 312 entries, 0 to 311
Data columns (total 8 columns):
Month                     312 non-null object
Day                       312 non-null int64
Temp Hi                   312 non-null int64
Temp Low                  312 non-null int64
Solar                     312 non-null float64
Cloud Cover Percentage    312 non-null int64
Rainfall in mm            312 non-null float64
Power Generated in MW     312 non-null float64
dtypes: float64(3), int64(4), object(1)
memory usage: 21.9+ KB

### Create a simple ML model which accepts suitable inputs and gives a predicted power output for each power generation plant for any day within the next 7 days. Note that these may be 2 ML models (1 for each plant)

### ML model using solar data

### Split data into training and test sets

In [14]:
X = dSolar_clean.drop(['Month ', 'Day', 'Power Generated in MW'], axis = 1).values # X are the input (or independent) variables
y = dSolar_clean['Power Generated in MW'].values # Y is output (or dependent) variable

A rule of thumb is to split data into training and test sets by 80/20 or 70/30.

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
# create training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

### Fit the model

The `fit()` function fits a linear model. We'll fit the model on the training data.

In [17]:
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

### Make Predictions

We'll predict the dependent variable using the linear model we fitted with the test dataset.

In [18]:
y_pred = lm.predict(X_test)

In [19]:
print(y_pred[0:5]) # print the first 5 predictions

[8.24525812 6.82011134 8.67520257 7.38393856 6.09279466]

In [20]:
#side by side of actual values and predicated values
y_pred = lm.predict(X_test)

#connect predictions with actual banking crisis values
for i in range(10):
    print(y_test[i], y_pred[i])

8.25 8.245258123641683
6.82 6.820111336925615
8.68 8.675202565345176
7.38 7.383938559956994
6.09 6.09279466408827
8.05 8.04662849883525
9.47 9.470148288948252
6.79 6.787159376078422
5.83 5.826783927141491
5.76 5.760634918314663

In [21]:
#add predictions column to the dataFrame
predictions = pd.DataFrame(y_pred)
dSolar_2['Solar_predictions'] = predictions
dSolar_2.head(10)

,Month,Day,Temp Hi,Temp Low,Solar,Cloud Cover Percentage,Rainfall in mm,Power Generated in MW,Solar_predictions
0,Jan,1,109,85,30.0,9,0.0,9.93,8.245258
1,Jan,2,106,71,30.1,9,0.0,9.97,6.820111
2,Jan,3,106,81,29.5,9,0.0,9.77,8.675203
3,Jan,4,102,83,13.0,4,0.0,4.30,7.383939
4,Jan,5,105,80,30.1,9,0.0,9.97,6.092795
5,Jan,6,107,84,26.3,8,0.0,8.71,8.046628
6,Jan,7,104,82,30.2,9,0.0,10.00,9.470148
7,Jan,8,100,69,29.8,9,0.0,9.87,6.787159
8,Jan,9,103,81,30.1,9,0.0,9.97,5.826784
9,Jan,10,104,82,27.1,9,0.0,8.97,5.760635

### View first 5 datasets from the Solar dataframes

In [22]:
dWind_2.head()

   wind speed  direction  Power Output
0       16.00        218         34.76
1       15.91        218         36.59
2       15.82        218         32.35
3       15.73        218         39.37
4       15.64        218         33.22

In [23]:
#confirm all column names for wind data
dWind_2.columns

Index(['wind speed', 'direction', 'Power Output'], dtype='object')

In [24]:
#check column datatypes
dWind_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 3 columns):
wind speed      366 non-null float64
direction       366 non-null int64
Power Output    366 non-null float64
dtypes: float64(2), int64(1)
memory usage: 8.7 KB

In [25]:
#check for any missing values
dWind_2.isnull().sum()

wind speed      0
direction       0
Power Output    0
dtype: int64

### ML model using wind data

### Split data into training and test sets

In [26]:
X1 = dWind_2.drop(['Power Output'], axis = 1).values # X are the input (or independent) variables
y1 = dWind_2['Power Output'].values # Y is output (or dependent) variable

In [27]:
# create training and testing sets
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size=0.2)

### Fit the model

In [28]:
lm = linear_model.LinearRegression()
model = lm.fit(X1_train,y1_train)

### Make Predictions

In [29]:
y1_pred = lm.predict(X1_test)

In [30]:
print(y1_pred[0:5]) # print the first 5 predictions

[45.45433861 39.64374614 40.97103539 41.09270566 37.79138674]

In [31]:
#side by side of actual values and predicated values
#predict banking crisis
y1_pred = lm.predict(X1_test)

#connect predictions with actual banking crisis values
for i in range(10):
    print(y1_test[i], y1_pred[i])

49.9 45.45433860798063
43.68 39.64374614165784
38.1 40.97103539057076
42.04 41.09270565621267
33.68 37.791386738852566
29.03 33.04219213888226
44.75 41.39915379398708
44.47 40.551378023150804
46.94 43.174735014142954
45.14 43.81430784918621

In [32]:
#add predictions column to the dataFrame
predictions = pd.DataFrame(y1_pred)
dWind_2['Wind_predictions'] = predictions
dWind_2.head(10)

   wind speed  direction  Power Output  Wind_predictions
0       16.00        218         34.76         45.454339
1       15.91        218         36.59         39.643746
2       15.82        218         32.35         40.971035
3       15.73        218         39.37         41.092706
4       15.64        218         33.22         37.791387
5       15.55        218         37.09         33.042192
6       15.46        218         41.23         41.399154
7       15.37        218         32.72         40.551378
8       15.28        218         40.39         43.174735
9       15.19        218         37.54         43.814308