In [1]:
from sklearn import linear_model # for linear regression modeling
import pandas as pd

In [2]:
dSolar_1 = pd.read_csv('solar_farm.csv')
dSolar_2 = pd.read_csv('solar_generation_data.csv')
dWind_1 = pd.read_csv('wind_farm.csv')
dWind_2 = pd.read_csv('wind_generation_data.csv')

In [8]:
print(dSolar_1.shape, dSolar_2.shape, dWind_1.shape, dWind_2.shape)

(8, 2) (365, 8) (7, 2) (366, 3)

In [5]:
dSolar_1.head()

      Unnamed: 0          Unnamed: 1
0  Date Of Month  Capacity Available
1              4                   3
2              6                   5
3             19                   2
4             23                  50
5             24                  20
6             25                   5
7             28                  10

In [9]:
dSolar_2.head()

,Month,Day,Temp Hi,Temp Low,Solar,Cloud Cover Percentage,Rainfall in mm,Power Generated in MW
0,Jan,1,109°,85°,30.0,9,0.0,9.93
1,Jan,2,106°,71°,30.1,9,0.0,9.97
2,Jan,3,106°,81°,29.5,9,0.0,9.77
3,Jan,4,102°,83°,13.0,4,0.0,4.30
4,Jan,5,105°,80°,30.1,9,0.0,9.97

In [10]:
dWind_1.head()

   Date Of Month  Capacity Available as %
0              3                       70
1              5                       60
2              7                       50
3              8                       45
4             15                       55

In [11]:
dWind_2.head()

   wind speed  direction  Power Output
0       16.00        218         34.76
1       15.91        218         36.59
2       15.82        218         32.35
3       15.73        218         39.37
4       15.64        218         33.22