# <font color=blue>AppDev_Summative </font>

### Import neccessary libraries

In [1]:
from sklearn import linear_model
import pandas as pd

### Load data from all data files

In [2]:
dSolar_1 = pd.read_csv('solar_farm.csv')
dSolar_2 = pd.read_csv('solar_generation_data.csv')
dWind_1 = pd.read_csv('wind_farm.csv')
dWind_2 = pd.read_csv('wind_generation_data.csv')

In [3]:
print(dSolar_2.shape, dWind_2.shape)

(365, 8) (366, 3)

In [4]:
dSolar_1.head()

      Unnamed: 0          Unnamed: 1
0  Date Of Month  Capacity Available
1              4                   3
2              6                   5
3             19                   2
4             23                  50

### View first 5 datasets from the Solar dataframes

In [5]:
dSolar_2.head()

,Month,Day,Temp Hi,Temp Low,Solar,Cloud Cover Percentage,Rainfall in mm,Power Generated in MW
0,Jan,1,109°,85°,30.0,9,0.0,9.93
1,Jan,2,106°,71°,30.1,9,0.0,9.97
2,Jan,3,106°,81°,29.5,9,0.0,9.77
3,Jan,4,102°,83°,13.0,4,0.0,4.30
4,Jan,5,105°,80°,30.1,9,0.0,9.97

In [6]:
#remove the degree symbol
dSolar_2['Temp Hi'] = dSolar_2['Temp Hi'].replace('\u00b0','', regex=True)
dSolar_2['Temp Low'] = dSolar_2['Temp Low'].replace('\u00b0','', regex=True)

In [7]:
dSolar_2.head()

,Month,Day,Temp Hi,Temp Low,Solar,Cloud Cover Percentage,Rainfall in mm,Power Generated in MW
0,Jan,1,109,85,30.0,9,0.0,9.93
1,Jan,2,106,71,30.1,9,0.0,9.97
2,Jan,3,106,81,29.5,9,0.0,9.77
3,Jan,4,102,83,13.0,4,0.0,4.30
4,Jan,5,105,80,30.1,9,0.0,9.97

In [9]:
#confirm all column names for solar data
dSolar_2.columns

Index(['Month ', 'Day', 'Temp Hi', 'Temp Low', 'Solar',
       'Cloud Cover Percentage', 'Rainfall in mm', 'Power Generated in MW'],
      dtype='object')

In [11]:
#change all the data Temp Hi and Temp Low to numbers
cols=[i for i in dSolar_2.columns if i in ['Temp Hi', 'Temp Low']]
for col in cols:
    dSolar_2[col]=pd.to_numeric(dSolar_2[col], errors='coerce')
dSolar_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 8 columns):
Month                     365 non-null object
Day                       365 non-null int64
Temp Hi                   365 non-null int64
Temp Low                  365 non-null int64
Solar                     365 non-null float64
Cloud Cover Percentage    365 non-null int64
Rainfall in mm            312 non-null float64
Power Generated in MW     365 non-null float64
dtypes: float64(3), int64(4), object(1)
memory usage: 22.9+ KB

In [12]:
dSolar_2.isnull().sum()

Month                      0
Day                        0
Temp Hi                    0
Temp Low                   0
Solar                      0
Cloud Cover Percentage     0
Rainfall in mm            53
Power Generated in MW      0
dtype: int64

In [13]:
#drop remaining missing values
dSolar_clean = dSolar_2.dropna()
dSolar_clean.isnull().sum()

Month                     0
Day                       0
Temp Hi                   0
Temp Low                  0
Solar                     0
Cloud Cover Percentage    0
Rainfall in mm            0
Power Generated in MW     0
dtype: int64

### Create a simple ML model which accepts suitable inputs and gives a predicted power output for each power generation plant for any day within the next 7 days. Note that these may be 2 ML models (1 for each plant)

### ML model using solar data

### Split data into training and test sets

In [14]:
X = dSolar_clean.drop(['Month ', 'Day', 'Power Generated in MW'], axis = 1).values # X are the input (or independent) variables
y = dSolar_clean['Power Generated in MW'].values # Y is output (or dependent) variable

A rule of thumb is to split data into training and test sets by 80/20 or 70/30.

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
# create training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

### Fit the model

The `fit()` function fits a linear model. We'll fit the model on the training data.

In [17]:
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

### Make Predictions

We'll predict the dependent variable using the linear model we fitted with the test dataset.

In [18]:
y_pred = lm.predict(X_test)

In [19]:
print(y_pred[0:5]) # print the first 5 predictions

[5.76047882 8.70834997 4.43588357 3.17933766 6.125733  ]

In [24]:
#side by side of actual values and predicated values
#predict banking crisis
y_pred = lm.predict(X_test)

#convert y_test into an array
#y_test1 = y_test.to_numpy()

#connect predictions with actual banking crisis values
for i in range(10):
    print(y_test[i], y_pred[i])

5.76 5.760478819147479
8.71 8.708349973831634
4.44 4.435883571735594
3.18 3.179337663259757
6.13 6.125733004389053
7.42 7.4169441928107185
9.93 9.933413910588776
4.17 4.171336951234531
6.19 6.191792593200832
6.56 6.555698570105249

In [8]:
dWind_2.head()

   wind speed  direction  Power Output
0       16.00        218         34.76
1       15.91        218         36.59
2       15.82        218         32.35
3       15.73        218         39.37
4       15.64        218         33.22

In [25]:
#confirm all column names for wind data
dWind_2.columns

Index(['wind speed', 'direction', 'Power Output'], dtype='object')